{% extends 'food/base.html' %}

{% load static %}

{% block title %} In & Out {% endblock %}

{% block content %}
    
    <div class="container-fluid inNOut">
        <div class="row">
            <!--Menu-->
            <div class="col-md-8 text-center">
                <h2 class="title"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/InNOut.svg/1200px-InNOut.svg.png" alt="inNOut Logo" id="inNOutLogo"></h2>
                <div class="row">
                    {% for inAndOut in inAndOuts %}
                    <div class="col-md-4 p-4">
                        <img class="picture" src="{{ inAndOut.inNOutImage}}">
                        <h4 class="pt-3" id="in{{inAndOut.id}}">{{inAndOut.name}}</h4>
                        <div class="form-check-inline">
                             <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="inAndOut{{inAndOut.id}}" value="{{inAndOut.price}}"checked>
                                    ${{inAndOut.price}}
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addInAndOut('{{inAndOut.id}}')">Add to cart</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--Shopping Cart-->
            <div class="col-md-4" id="ordersInNOut">
                <div class=" p-4 rounded text-dark">
                    <h2 class="text-center">Order List</h2>
                    <ul id="inAndOutCart"></ul>
                    <h4 class="text-right" id="inAndOutTotal">Total: $0</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'food/js/inAndOut.js' %}"></script>

{% endblock %}