{% extends 'food/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
    <div class="home">
    </div>
    <div class="card">
        <div class="card-title">
            <img src="https://i.pinimg.com/originals/fe/a1/f5/fea1f5c63751395b75941ac381956075.jpg" id="sliceImg">
        </div>
        <div class="card-body">
          <h5 class="instructions">Step 1: Pick a restaurant</h5> <br>
          <h5 class="instructions">Step 2: Add an order</h5><br>
          <h5 class="instructions">Step 3: Click on shopping cart</h5><br>
          <h5 class="instructions">Step 4: Type delivery message</h5><br>
          <h5 class="instructions">Step 5: Submit Order</h5>
        </div>
      </div>
</div>
{% endblock %}