{% extends 'food/base.html' %}

{% load static %}

{% block title %} Little Caesars {% endblock %}

{% block content %}

    <div class="container-fluid ceasers">
        <div class="row">
            <!--Menu-->
            <div class="col-md-8 text-center">
                <h2 class="title"><img src="https://www.pngkey.com/png/full/188-1880030_little-caesars-pizza-logo-png.png" id="ceasersLogo"></h2>
                <div class="row">
                    {% for littleCaesars in littleCaesarss %}
                    <div class="col-md-4 p-4">
                        <img class="picture" src="{{ littleCaesars.littleCaesarsImage}}">
                        <h4 class="pt-3" id="little{{littleCaesars.id}}">{{littleCaesars.name}}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="littleCaesars{{littleCaesars.id}}" value="{{littleCaesars.price}}" checked>
                                    ${{littleCaesars.price}}
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3" onclick="addLittleCaesars('{{littleCaesars.id}}')">Add to cart</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--Shopping Cart-->
            <div class="col-md-4" id="ordersCeasers">
                <div class="p-4 rounded text-dark">
                    <h2 class="text-center">Order List</h2>
                    <ul id="littleCaesarsCart"></ul>
                    <h4 class="text-right" id="littleCaesarsTotal">Total: $0</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'food/js/littleCaesars.js' %}"></script>

{% endblock %}