{% extends 'food/base.html' %}

{% block title %} Taco Bell {% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row text-center">
            <!--Menu-->
            <div class="col-md-8">
                <h2 class='title'> Welcome to Taco Bell! </h2>
                <div class="row">
                    {% for tacoBell in tacoBells %}
                    <div class="col-md-4 p-4">
                        <img class="picture" src="{{ tacoBell.tacoBellImage}}">
                        <h4 class="pt-3">{{tacoBell.name}}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" checked>
                                    ${{tacoBell.price}}
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3">Add to cart</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--Shopping Cart-->
            <div class="col-md-4">

            </div>
        </div>
    </div>

{% endblock %}