{% extends 'food/base.html' %}

{% block title %} Taco Bell {% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <!--Menu-->
            <div class="col-md-8 text-center">
                <h2 class="title"> Welcome to Taco Bell! </h2>
                <div class="row">
                    {% for tacoBell in tacoBells %}
                    <div class="col-md-4 p-4">
                        <img class="picture" src="{{ tacoBell.tacoBellImage}}">
                        <h4 class="pt-3" id="taco{{tacoBell.id}}">{{tacoBell.name}}</h4>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="tacoBell{{tacoBell.id}}" value="{{tacoBell.price}}" checked>
                                    ${{tacoBell.price}}
                            </label>
                        </div>
                        <div>
                            <button class="btn-info mt-3">Add to cart</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--Shopping Cart-->
            <div class="col-md-4 orders">
                <h2 class="text-center">Order List</h2>
                <ul></ul>
                <h4 class="text-right">Total: $0</h4>
            </div>
        </div>
    </div>

{% endblock %}